.table > thead > tr > th {
    border: 1px solid hsl(var(--border));
    padding: 4px;
    color: hsl(var(--muted-foreground));
    font-size: .9em;
    padding: 0 8px;
    height: 40px;
    vertical-align: middle;
}
.table {
    position: relative;
    width: 100%;
    z-index: 1;
}
.table > tbody > tr > td {
    padding: 13px;
    font-size: .85em;
}
.table > tbody > tr{
    border-bottom: 1px solid hsl(var(--border));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.table > tbody > tr:hover,
.table > thead:hover {
    /* background-color: rgba(51, 65, 85, 0.092); */
    background-color: hsl(var(--muted) / 0.5);
}