.table > thead > tr > th {
    border: 1.7px solid #4A5567;
    padding: 4px;
    background-color: #3641542d;
    font-size: .9em;
}
.table {
    position: relative;
    width: 100%;
    z-index: 1;
}
.table > tbody > tr > td {
    padding: 13px;
    font-size: .85em;
    border-right: 1px solid #4A5567;
}
.table > tbody > tr{
    border: 1px solid rgb(51 65 85);
}
.table > tbody > tr:hover {
    background-color: rgba(51, 65, 85, 0.092);
}